#map {
    padding: 0;
    margin: 0;
    height: 530px;
    width: 100%;
}

#panel {
    font-family: Arial, sans-serif;
    font-size: 13px;
    position: absolute;
    top: 1em;
    right: 0;
    min-height: 550px;
    background-color: white;
    width: 300px;
    visibility: hidden;
}

#panel #delete-button {
    margin-top: 5px;
}

#panel div.actions {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#panel .info {
    padding: 1.5em;
}

#panel label {
    padding: 5px 0;
    clear:both;
}
#panel .dateTimeWrapper {
    display: none;
}
#panel input[type="text"],
#panel select,
#panel textarea{
    display: block;
    margin: 6px 0;
}
.cabinet{
    position: absolute;
    left: 80px;
    top: 30px;
    background-color: white;
    padding: 5px 10px;
}



