#map {
    padding: 0;
    margin: 0;
    height: 530px;
    width: 100%;
}

#panel {
    font-family: Arial, sans-serif;
    font-size: 13px;
    position: absolute;
    top: 20px;
    right: 0;
    min-height: 520px;
    background-color: white;
    width: 300px;
    display: none;
}

#panel #delete-button {
    margin-top: 5px;
}

#panel div.actions {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#panel .info {
    padding: 1.5em;
    padding-bottom: 75px;
}

#panel label {
    padding: 5px 0;
    clear:both;
}
#panel .dateTimeWrapper {
    display: none;
}
#panel input[type="text"],
#panel select,
#panel textarea{
    display: block;
    margin: 6px 0;
}

#panel-path {
    font-family: Arial, sans-serif;
    font-size: 13px;
    position: absolute;
    top: 20px;
    right: 0;
    min-height: 520px;
    background-color: white;
    width: 300px;

}

#panel-path #delete-button {
    margin-top: 5px;
}

#panel-path div.actions {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#panel-path .info {
    padding: 1.5em;
    padding-bottom: 75px;
}

#panel-path label {
    padding: 5px 0;
    clear:both;
}
#panel-path .dateTimeWrapper {
    display: none;
}
#panel-path input[type="text"],
#panel-path select,
#panel-path textarea{
    display: block;
    margin: 6px 0;
}

.cabinet{
    position: absolute;
    left: 80px;
    top: 30px;
    background-color: white;
    padding: 5px 10px;
}
.wrapper table tr td {
    overflow: hidden;
}


.info-block{
    position: absolute;
    top:30px;
    right:0;
    z-index: 10;
}
.info-block.error,
.info-block.notice,
.info-block.success {
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-left: 0;
    padding: 12px;
}

div.error {
    border-left: 4px solid #dd3d36;
}

div.notice {
    border-left: 4px solid #c19005;
}

div.success {
    border-left: 4px solid #175d02;
}

.wrapper{
    padding: 2em;
}


